<!DOCTYPEhtml>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<title>Forgot Password</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" 
		th:href="@{/css/bootstrap.min.css}" />
	<style type="text/css">
		body {margin: 20px;}
	</style>
</head>
<body>
	<h1>Forgot Password?</h1>
	<form action="#" th:action="@{/resetpassword}" th:object="${forgotform}" method="post">
		<div class="form-group">
			<label for="email">E-mail:</label>
			<input type="text" id="email" th:field="*{email}" class="col-sm-4 form-control" />
			<p th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</p>
		</div>
		<input type="submit" value="Send" class="btn btn-primary"/>
		<a href="/login" class="btn btn-danger">Cancel</a>
	</form>
</body>
</html>