<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Login </title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" 
			th:href="@{css/bootstrap.min.css}" />
		<style>
			body {
				margin: 20px;
			}
			form {
				max-width: 800px;
				margin: auto;
				min-height: 400px;
			}
		</style>
    </head>
    <body>
        <form th:action="@{/login}" method="post" class="text-center border border-light p-5">
        	<p class="h4 mb-4">Login</p>
        	
            <input type="text" name="username" class="form-control mb-4" placeholder="Username" />
           	<input type="password" name="password" class="form-control mb-4" placeholder="Password"/>
           	<input type="submit" value="Login" class="btn btn-primary col-sm-2"/>
           	<br />
           	<div class="text-center">
    			<div th:if="${param.error}">
            		Invalid username and password.
        		</div>
        		<div th:if="${param.logout}">
           			You have been logged out.
        		</div>
    		</div>
        </form>
        
    </body>
</html>