<!DOCTYPEhtml>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<title th:text="${recipe.name}"></title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" 
		th:href="@{/css/bootstrap.min.css}" />
	<style type="text/css">
		body {margin: 20px;}
	</style>
</head>
<body>
	
	<div class="jumbotron text-center">
		<div>
			<h1 th:text="${recipe.name}"></h1>
			<p th:text="${recipe.category.name}"></p>
		</div>
		
		<div th:text="${recipe.desc}"></div>
	</div>
	
	
	<div th:object="${recipe}">
		<h3>Ingredients:</h3>
		<div th:text="'Recipe yields ' + *{servings} + ' servings.'"></div>
		<br />
		<div th:each="ingredient : *{ingredients}">
			<div th:text="${ingredient.name} + ' ' + ${ingredient.amount} + ' ' + ${ingredient.mu.name}"></div>
		</div>
		<br />
		<h3>Directions:</h3>
		<div th:each="step : *{steps}">
			<div th:text="'Step ' + ${step.stepNum} + '. ' + ${step.desc}"></div>
		</div>
	</div>
	
	<br />
	<a href="/recipelist" class="btn btn-danger">Back</a>

</body>
</html>