<!DOCTYPEhtml>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<title>Recipes</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" 
		th:href="@{/css/bootstrap.min.css}" />
	<style type="text/css">
		body {margin: 20px;}
	</style>
</head>
<body>

	<div class="jumbotron text-center">
		<h1>Recipes</h1>
	</div>
	
	<h2 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h2>
	   
	<form action="#" th:action="@{recipelist}" th:object="${category}" method="post">
		<div class="row">
			<label class="col-sm-2" for="category">Search by category:</label>
			<select id="category" th:field="*{categoryId}" name="category" class="col form-control">
				<option th:each="cat : ${categories}"
						th:value="${cat.categoryId}"
						th:text="${cat.name}"></option>
			</select>
			<div class="col">
				<input type="submit" value="Search" class="btn btn-primary"/>
				<a href="/recipelist" class="btn btn-danger">Find All</a>
			</div>
		</div>
	</form>
	
	<table class="table table-striped">
		<tr>
			<th>Name</th>
			<th>Category</th>
			<th>Actions</th>
		</tr>
		<tr th:if="${recipes.empty}">
            <td> No Recipes Available </td>
        </tr>
		<tr th:each="recipe : ${recipes}">
			<td th:text="${recipe.name}"></td>
			<td th:text="${recipe.category.name}"></td>
			<td>
				<div class="row">
					<div class="col-sm-2"><a th:href="@{/recipe/{id}(id=${recipe.recipeId})}" class="btn btn-success">SHOW</a></div>
					<div class="col-sm-2" sec:authorize="hasAuthority('ADMIN')">
						<a th:href="@{/delete/{id}(id=${recipe.recipeId})}" class="btn btn-danger">Delete</a></div>
					<div class="col-sm-2" sec:authorize="hasAuthority('ADMIN')">
						<a th:href="@{/edit/{id}(id=${recipe.recipeId})}" class="btn btn-info">Edit</a></div>
				</div>
				
			</td>
			
			
		</tr>
	</table>
	<a href="/add" class="btn btn-success">Add Recipe</a>
	<form th:action="@{/logout}" method="post"><input type="submit" value="Sign Out"/></form>
</body>
</html>